nav {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: #111827;
}

.navLogo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  letter-spacing: 2px;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link {
  text-decoration: none;
  color: var(--text-light);
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.2em;
}

.link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

@media (width < 900px) {
  .nav__links {
    display: none;
  }
}
